<div class="home-layout">

    <aside class="following-sidebar">

        <h3>Подписки</h3>

        <% if current_user.following.any? %>

            <% current_user.following.each do |user| %>

                <%= link_to user_path(user), class: "following-user" do %>

                    <% if user.avatar.attached? %>

                        <%= image_tag user.avatar, class: "following-avatar" %>

                    <% else %>

                        <div class="following-avatar-placeholder">
                            👤
                        </div>

                    <% end %>

                    <span>
                        <%= user.username %>
                    </span>

                <% end %>

            <% end %>

        <% else %>

            <p class="following-empty">
                Пока нет подписок
            </p>

        <% end %>

    </aside>

    <main class="feed">

        <% if @posts.any? %>

            <% @posts.each do |post| %>

              <%= render "posts/post", post: post %>

            <% end %>

        <% else %>

            <p>В ленте пока нет публикаций.</p>

        <% end %>

    </main>

</div>
